<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if(!user){ %>

      <h4> <a href = "http://localhost:8080/login"><b>Login</b></a> to your account / </h4>

      <h4> <a href = "http://localhost:8080/register"><b> Register</b></a> new account</h4>
      
    


    <% } else{ %>  

      <div>
        
        <form method="POST" action="/logout" > 
          <label for="email">Logged in as: "<%= `${user.email}` %>" </label>
          <style>
            .button {
              color: initial;
              text-align: center;
              display: inline-block;
              font-size: 18px;
              margin: 4px 2px;
              cursor: pointer;
            }
            .button4 {background-color: #0a8f13; border-radius: 12px; border: 2px color initial} 
            </style>
            <button class="button button4"> Logout </button> </form>
    </div>


      <% } %>
      
  </nav>
</header>
