<!-- <%- include('./partials/_head') %>

<div class="container">

    <form method="POST" action="/urls">
      <div style="width: 20em;">
        <div class="form-group">
        <label for="username">Logged in as: "<%= `${username}` %>" </label>

        <input type="logout" class="btn btn-primary" value="Logout" />
      </div>
    </form>

</div>
  </body>
</html> -->